body {
    font-family: 'Montserrat';
    text-align: center;
}

/***********************Headings********************/
.big-heading {
    font-size: 3.5rem;
    font-weight: 900; /*Montserrat Black*/
    line-height: 1.5;
}

.section-heading {
    font-size: 2rem;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700; /*Montserrat Bold*/
}

p {
    color: #8f8f8f;
}

.container-fluid {
    padding: 7% 15%;
}

/**************************Title*******************************/

#title {
    background-color: #ff4c68;
    color: white;
    text-align: left;
}

/* Navigation Bar */
.navbar {
    padding: 1% 15% 1%;
}

.navbar-brand {
    font-family: 'Ubuntu' !important;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 15px;
}

.nav-link {
    font-size: 1.1rem;
    font-weight: 300;
    color: white;
}

/* Download Buttons */
.download-btn {
    margin: 5% 3% 5% 0;
}

/* Title image */
.title-img {
    width: 18%;
    transform: rotate(25deg);
    position: absolute;
}

/*********************************** Features *******************/
#features {
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.feature-box > i {
    color: #ef8172;
    font-size: 2.5rem;
}

.feature-box > i:hover {
    color: #ff4c68;
}

.feature-title {
    font-size: 1.5rem;
    padding-top: 2%;
}

/********************TESTIMONIALS***************************/

#testimonials {
    background-color: #ef8172;
    color: #fff;
}

.testimonial-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

/***********************PRESS*********************************/
#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/********************PRICING***************************************/
#pricing {
    padding: 100px;
}

.card-container {
    padding: 2%;
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}

/****************************CTA*********************************/
#cta {
    background-color: #ff4c68;
    color: white;
}

/********************************FOOTER****************************/
.social-icon {
    margin: 20px 10px;
}

#footer .container-fluid {
    padding: 1% 15% !important;
}

/*************************RESPONSIVENESS*****************************/
@media (max-width: 990px) {

    .navbar {
        padding: 0% 2%;
    }

    #title {
        text-align: center;
    }

    .title-img {
        position: static;
        width: 60%;
        transform: rotate(0deg);
    }

    .big-heading {
        font-size: 2rem;
    }

    .testimonial-text {
        font-size: 1.5rem;
    }

}